body {
  padding: 0 15%;
}

.entire-page {
  padding: 0 25%;
}

.page-one {
  color: grey;
}

.page-one h1 {
  margin-bottom: 10px;
}
.page-one hr {
  height: 4px;
  background-color: grey;
  width: 210px;
  text-align: left;
  margin-left: 0;
}

.abstract {
  max-width: 310px;
}

.page-two .quote {
  margin-left: -140px;
}

.page-two .quote p{
  color: goldenrod;
  max-width: 520px;
}

